/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;700&family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

/* all */
* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

/* StartScreen component */
.StartScreen {
    height: 100vh;
    width: 100vw;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* StartLogo component */
.StartLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StartLogo img {
    width: 136px;
    height: 161px;
}

.StartLogo p {
    width: 257px;
    height: 59px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    margin: 13px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

/* StartRecallButton component */
.StartRecallButton button{
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}

.StartRecallButton button:hover{
    cursor: pointer;
}

/* PlayScreen component */
.PlayScreen {
    background-color: #FB6B6B;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* Header component */
.Header {
    height: 153px;
    min-height: 153px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header img{
    width: 52px;
    height: 60px;
}

.Header p{
    width: 203.17px;
    height: 44px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

/* Main component */
.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FlashCard component */
.FlashCard {
    display: flex;
    margin: 0 0 25px 0;
}

.questionNumberFace {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px 0 15px;
}

.questionNumberFace p {
    width: 87px;
    height: 19px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.questionNumberButton {
    width: 20px;
    height: 23px;
}

.questionNumberButton img {
    width: 100%;
    height: 100%;
}

.questionNumberButton:hover{
    cursor: pointer;
}

.frontFace {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    justify-content: space-between;
}

.frontFace p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 269px;
    max-height: 95px;
    margin: 15px 18px 15px 18px;
}

.frontFaceButton {
    display: flex;
    align-self: flex-end;
    width: 30px;
    height: 20px;
    bottom: 0;
    left: 0;
    margin: 0 15px 6px 0;
}

.frontFaceButton:hover {
    cursor: pointer;
}

.backFace {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
}

.backFace p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    max-width: 269px;
    max-height: 95px;
    margin: 15px 18px 0 18px;
}

.backFacebuttons {
    display: flex;
    justify-content: space-around;
    margin: 0 13px 6px 13px;
}

.backFacebuttons button{
    width: 85.17px;
    height: 37.17px;
    border: 0px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}

#red {
    background: #FF3030;
}

#yellow {
    background: #FF922E;
}

#green {
    background: #2FBE34;
}

.finalStatus {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px 0 15px;
}

.finalStatus p {
    width: 87px;
    height: 19px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
}

.finalStatusImg img {
    width: 23px;
    height: 23px;
    margin-top: 4px;    
}